<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Vega | Transactions</title>

    <link rel="icon" type="image/png" href="{{constants.ACCESSURL}}/dashboard_files_admin/img/logo.png">

    <link href="{{constants.ACCESSURL}}/dashboard_files_admin/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{constants.ACCESSURL}}/dashboard_files_admin/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="{{constants.ACCESSURL}}/dashboard_files_admin/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="{{constants.ACCESSURL}}/dashboard_files_admin/css/animate.css" rel="stylesheet">
    <link href="{{constants.ACCESSURL}}/dashboard_files_admin/css/style.css" rel="stylesheet">

</head>

<body>

    {{{body}}}
    {{> admin-footer}}