<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Vega | Dashboard</title>

    <link rel="icon" type="image/png" href="{{constants.ACCESSURL}}/dashboard_files_admin/img/logo.png">

    <link href="{{constants.ACCESSURL}}/dashboard_files_admin/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{constants.ACCESSURL}}/dashboard_files_admin/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="{{constants.ACCESSURL}}/dashboard_files_admin/css/animate.css" rel="stylesheet">
    <link href="{{constants.ACCESSURL}}/dashboard_files_admin/css/style.css" rel="stylesheet">
        <link href="{{constants.ACCESSURL}}css/jquery.toast.css" rel="stylesheet" type="text/css">

      <script type="text/javascript" async="" src="{{constants.ACCESSURL}}dashboard_files/recaptcha__en.js"></script><script src="{{constants.ACCESSURL}}dashboard_files/jquery_002.js"></script>
  <script src="{{constants.ACCESSURL}}dashboard_files/jquery-2.js"></script>
  <script src="{{constants.ACCESSURL}}dashboard_files/reg-jquery.js"></script>
   <script src="{{constants.ACCESSURL}}dashboard_files/jquery.js"></script>
  <script src="{{constants.ACCESSURL}}dashboard_files/api.js"></script>

    <script src="{{constants.ACCESSURL}}dashboard_files/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/additional-methods.min.js"></script>

</head>

<body>

 {{{body}}}
    {{> admin-footer}}