<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vega</title>
  <meta name="description" content="Vega is a first of it’s kind digital marketing tracking platform that redefines security, decentralized storage and ease of use.">

  <link rel="stylesheet" type="text/css" href="{{constants.ACCESSURL}}dashboard_files/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="{{constants.ACCESSURL}}dashboard_files/animate_002.css">
  <link rel="stylesheet" type="text/css" href="{{constants.ACCESSURL}}dashboard_files/animate.css">

  <link rel="stylesheet" type="text/css" href="{{constants.ACCESSURL}}dashboard_files/bootstrap-slider.css">

  <link href="{{constants.ACCESSURL}}dashboard_files/all.css" rel="stylesheet">
  <link href="{{constants.ACCESSURL}}dashboard_files/css_003.css" rel="stylesheet">
  <link href="{{constants.ACCESSURL}}dashboard_files/css.css" rel="stylesheet">

  <link rel="icon" type="image/png" sizes="192x192" href="{{constants.ACCESSURL}}dashboard_files/logo.png">

  <link rel="stylesheet" type="text/css" href="{{constants.ACCESSURL}}dashboard_files/style.css">
  <link rel="stylesheet" type="text/css" href="{{constants.ACCESSURL}}dashboard_files/register.css">

  <link href="{{constants.ACCESSURL}}dashboard_files/css_002.css" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="{{constants.ACCESSURL}}fonts/fontawesome/font-awesome.css" />
  <link href="{{constants.ACCESSURL}}css/jquery.toast.css" rel="stylesheet" type="text/css">


  <!-- jQuery library -->
  <script type="text/javascript" async="" src="{{constants.ACCESSURL}}dashboard_files/recaptcha__en.js"></script><script src="{{constants.ACCESSURL}}dashboard_files/jquery_002.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="{{constants.ACCESSURL}}dashboard_files/jquery-2.js"></script>
  <script src="{{constants.ACCESSURL}}dashboard_files/reg-jquery.js"></script>
  <script src="{{constants.ACCESSURL}}dashboard_files/bootstrap.js"></script>

  <link rel="stylesheet" href="{{constants.ACCESSURL}}dashboard_files/jquery.css">
  <script src="{{constants.ACCESSURL}}dashboard_files/jquery.js"></script>

  <script src="{{constants.ACCESSURL}}dashboard_files/api.js"></script>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="{{constants.ACCESSURL}}dashboard_files/bootstrap_002.css">

  <meta name="viewport" content="width=device-width, initial-scale=1">
<!--   <link rel="icon" type="image/x-icon" href="favicon.ico"> -->
  <link rel="stylesheet" href="{{constants.ACCESSURL}}dashboard_files/bootstrap_002.css">
  <link href="{{constants.ACCESSURL}}dashboard_files/icon.css" rel="stylesheet">

  <script src="{{constants.ACCESSURL}}dashboard_files/js.js"></script>
    
  <script type="text/javascript" charset="UTF-8" src="{{constants.ACCESSURL}}dashboard_files/common.js"></script>
  <script type="text/javascript" charset="UTF-8" src="{{constants.ACCESSURL}}dashboard_files/util.js"></script>
  <script type="text/javascript" charset="UTF-8" src="{{constants.ACCESSURL}}dashboard_files/stats.js"></script>
    
    
    <script src="{{constants.ACCESSURL}}dashboard_files/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/additional-methods.min.js"></script>


</head>
<body>

    {{> main-header}}
    {{{body}}}
    {{> footer}}