	<div class="headerdes">
		<div class="regbre">
			<img src="{{constants.ACCESSURL}}dashboard_files/logo.png">
		</div>
	</div>
	{{#if message}}
	<div class="message-disp">
		<div class="messagebox">
			{{message}}
		</div>
	</div>{{/if}}
	<div class="container-fluid reg-container first-form" style="height: 500px;">
            <form action="{{constants.ACCESSURL}}users/login" method="post" class="ajax-login">
		  	<div class="reg-form">
			    <div class="reg-active reg-border">
			      	<h3>Log In</h3>
				      	<hr>
				      	<div class="reginr">
				        <span ><i class="fa fa-user"></i></span>
				        <input maxlength="100" minlength="4" name="email" placeholder="enter email" required="" type="email">
			      	</div>

			      	<div class="reginr"> <span ><i class="fa fa-user"></i></span>
			        	<input maxlength="24" minlength="4" name="password" placeholder="enter password" required="" type="password">
			      	</div>

			      	<button class="btn btn-primary reg-button" id="continue" type="submit">
			        	<p style="margin-bottom: 0px;"><i class="fa fa-arrow-circle-right"></i>&nbsp;&nbsp;&nbsp;Continue</p>
			      	</button>
			      	<a href="/users/forgot-password" style="margin-top: 10px; float: left;">Forgot Password?</a>
			      	<a href="/" style="margin-top: 10px; float: right;font-weight: bold;">New Register Here</a> 
			    </div>
		  	</div>
		</form>
	</div>
