@charset "utf-8";
/* CSS Document */

/*reset css*/

textarea#abcde:focus{

  border: 0;
  outline: 0;
  box-shadow: 0;
}

textarea#abcde{
  width: 100%;
  border: 0;
  outline: 0;
  box-shadow: 0;
  font-size: 15px;
  resize: none;
}

*{margin:0;padding:0;}
h1, h2, h3, h4, h5, h6, p, ul{margin:0; padding:0;}
a{ text-decoration:none !important;}
select{appearance:none !important; -moz-appearance:none !important; -webkit-appearance:none !important; border:none !important;
transition:.3s;}
select:active, select:focus{ border-radius:0; transition:.3s;}
input[type="submit"]{ border:none;}
body{font-family: 'Montserrat', sans-serif; /*overflow-x: hidden;*/ width: 100vw;}
html,body{margin:0;padding:0;width:100%;}
wrapper{ width:100%;}

.btn {

}

.btn-primary,
.btn-default {
  background: -moz-linear-gradient(90deg, #d60000, #fb7400);
  background: -webkit-linear-gradient(90deg, #d60000, #fb7400);
  background: linear-gradient(90deg, #d60000, #fb7400);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d60000', endColorstr='#fb7400',GradientType=0 );
  border: 0px; 
  transition:.3s;
  color: #fff;
}
.btn-default:hover,
.btn-default:active,
.btn-default:focus,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus{
  border-color:#0080ff; 
  background: -moz-linear-gradient(90deg, #fb7400, #d60000);
  background: -webkit-linear-gradient(90deg, #fb7400, #d60000);
  background: linear-gradient(90deg, #fb7400, #d60000);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb7400', endColorstr='#d60000',GradientType=0 ); 
  transition:.3s; 
  color:#fff;}


.showdetails span {
  background: #0080ff none repeat scroll 0 0;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  height: 27px;
  line-height: 24px;
  margin: 0 7px;
  text-align: center;
  width: 27px;
}

.showdetails h5 {
  color: #0080ff;
  font-size: 14px;
  font-weight: 400;
  margin: 24px 0 0;
  text-transform: capitalize;
}

.showdetails span i {
  color: #fff;
  line-height: 24px;
}
select option{-webkit-box-shadow: inset 0px 0px 0px 200px rgba(0,186,254,1);
-moz-box-shadow: inset 0px 0px 0px 200px rgba(0,186,254,1);
box-shadow: inset 0px 0px 0px 200px rgba(0,186,254,1);
padding: 5px 15px; -moz-padding:5px 15px; -webkit-padding:5px 15px;}
select option:hover{-webkit-box-shadow: inset 0px 0px 0px 200px rgba(28,102,229,1);
-moz-box-shadow: inset 0px 0px 0px 200px rgba(28,102,229,1);
box-shadow: inset 0px 0px 0px 200px rgba(28,102,229,1);}

input[type="radio"]{ margin:0 5px 0 0; vertical-align:middle;}
input[type="checkbox"]{ margin:0 5px 0 0;}

.table-responsive{  border:none; padding:0; margin:0;}
table{ width:100%;}

table tbody td{text-align:center;  white-space:nowrap;}

/*input[type="text"], input[type="email"], input[type="password"] {
  background: transparent none repeat scroll 0 0;
  border-color: -moz-use-text-color -moz-use-text-color #d60000;
  border-radius: 5px;
  border-style: none;
  box-shadow: 0px 0px 3px #D9D9D9;
  color: #d60000;
  font-family: open sans;
  font-size: 14px;
  height: 40px;
  outline: medium none;
  padding: 0 11px 0 55px;
  transition: all 0.3s ease 0s;
  width: 100%;
}
*/
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  opacity: 1;
}
::-moz-placeholder { /* Firefox 19+ */
 opacity: 1;
}
:-ms-input-placeholder { /* IE 10+ */
  opacity: 1;
}
:-moz-placeholder { /* Firefox 18- */
  opacity: 1;
}

/*input[type="text"]:active,
input[type="email"]:active,
input[type="password"]:active,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus{
  border-bottom: 4px solid #d60000;
  transition: all 0.3s ease 0s;
}
*/
/*
textarea{-webkit-box-shadow: inset 2px 2px 0px 0px rgba(255,102,0,1);
-moz-box-shadow: inset 2px 2px 0px 0px rgba(255,102,0,1);
box-shadow: inset 2px 2px 0px 0px rgba(255,102,0,1);
width:100%;
font-size:16px;
color:#f6403f;
font-family:"open Sans";
min-height:110px; padding:20px 20px;
border:none;}*/


/* Navbar and Language Bar */
.indextopsection {
  background: #1db8d3 none repeat scroll 0 0;
}

.toplinksec ul { list-style:none;
}
.toplinksec li {
  display: inline-block;
}

.toplinksec li a{ font-family: 'Ubuntu', sans-serif; color:#fff; font-size:14px;
}

.toplinksec li {
  padding: 3px 12px 0 0;
}

.language {
  text-align: right;
}
.language button {
  font-family: 'Ubuntu', sans-serif;
  background: transparent none repeat scroll 0 0;
  border: medium none;
  color: #fff;
  font-size: 14px;
  padding: 5px 0;
}

header {
  top: 0;
  width: 100%;
  z-index: 2;
}

header .navbar {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border-color: -moz-use-text-color -moz-use-text-color #1db8d3;
  border-radius: 0;
  border-style: none none solid;
  border-width: medium medium 1px;
  margin: 0;
  min-height: auto;
}

.navbar{
  display: flex;
  align-items: center;
}

#myNavbar {
  margin-left: 10px;
}

#myNavbar a {
  color: #1db8d3;
  font-size: 20px;
  font-weight: 300;
  margin: 0px;
}

#myNavbar a:hover {
  background-color: #1db8d3 !important;
}

header .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{ border:0;}
header .navbar-nav > li{ padding:0;}

header .navbar-nav > li > a {
  font-family: "Ubuntu",sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin: 0 0 0 5px;
  padding: 26px 12px;
  text-transform: capitalize;
  transition: all 0.3s ease 0s;
}

.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
  background-color: #1db8d3 !important;
  color: #fff;
}


header .navbar-nav > li > a:hover{ color:#fff !important; transition:.3s;}
header .navbar-right{margin:0;}
header .navbar-collapse{ padding:0; box-shadow:none;}
header .navbar-header a{ display: inline-block;}
header .navbar-header a img{ display: inline-block;}

.nav-logo {
  height: 60px;
  width: 60px;
}

.bitcoineff {
  background-color: transparent;
  color: #555555; text-align:center;
}

.slider {
  width:500px;
  background: rgba(0,0,0,0);
}

.dropdown-menu {
  width: 90%;
}

.banners {
/*  height: 100px;
  position: relative;*/
}

/* Non-index page classes and unused classes */

/* faq content */

.faqsecde .accordion-toggle{ margin-top:20px; cursor:pointer;}
.faqsecde .accordion-toggle.active {
  background: url("../images/faqaf1.png") no-repeat scroll left center, url("../images/faq_up_arrow.png") no-repeat scroll right center, #0080ff none repeat scroll 0 0;
  color: #fff;
}

.faqsecde .accordion-toggle.active span{ color:#fff; border-color:#fff;}
.faqsecde .accordion h4 {
  background: url("../images/faqaf.png") no-repeat scroll left center, url("../images/faq_down_arrow.png") no-repeat scroll right center, #0080ff none repeat scroll 0 0;
  border: medium none;
  color: #fff;
  display: inline-block;
  font-family: ubuntu;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  overflow: hidden;
  padding: 4px 0 6px 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}



.faqsecde .accordion h4 img{ display:inline-block; float:left; margin-right:10px;}

.faqsecde .accordion-content {display: none;}
.faqsecde .accordion-content p {
  background: #fff none repeat scroll 0 0;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
  color: #000;
  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
  padding: 15px;
}

.videdes span {
  bottom: 0;
  height: 349px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 475px;
}
.videdes span img {
  padding: 140px 0 0;
}

.videdes {
  position: absolute;
}



.videdes  img {
  display: inline-block;
}

.videdes { position:relative;
  text-align: center;
  margin-top: 12px;
    padding: 15px;
}

/* core feature */

.footersoci > h3 {
  color: #0080ff;
  padding: 0 0 15px;
  text-transform: capitalize;
  display: inline-block;
  font-size: 26px;
  font-weight: bold;
}
.title{
  color: #174a7c;
  display: inline-block;
  font-size: 26px;
  font-weight: bold;
  text-transform: uppercase; position:relative;
}

.btn-info {

}

.indresgsec .btn-info {
  margin: 25px 0 0;
}

.navbar-shadow {
  box-shadow: 0px 3px 5px -2px #a9a9a9;
}

.navbar-xtra-pad {
  padding: 0px 15px;
}

.icon-bar {
  background-color: #fff;
}

.txt-ctn {
  width: 100%;
}

.spc {
  line-height: 2;
  padding:10px;
}

.mg-bt {
  margin-bottom: 13px;
}
.reltop {
  position: relative;
    top: -12px;
}
.cntr {
  text-align: center;
}

.title.centersect:before{
  left: -41px !important;
  margin: 0;
  top: 0;
  transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  bottom: 0;
  content: "";
  height: 27px;
  width: 33px; position:absolute;
}

.centersect {
  color: #fff;
  margin: 0 0 27px;
}

.featuresdes {
  background-color: #2cb8d2;
  padding: 48px 0;
  margin-bottom: -3px;
  z-index: 6;
  position: relative;
}

.title::after {
  bottom: 0;
  content: "";
  height: 27px;
  margin: auto;
  position: absolute;
  right: -41px;
  top: 10px;
  width: 33px;
}






.rightsidehead::after {
  left: -41px !important;
  margin: 0;
  top: 0;
  transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}
.keycontent h4 {
  font-size: 24px;
  font-weight: 900;
}

.keycontent h4 span {
  display: block;  color: #000;
  font-size: 14px;
  font-weight: bold;
  padding: 6px 0;
  text-transform: uppercase;
}

.keycontent p {
  color: #000;
  font-family: open sans;
  font-size: 14px;
  line-height: 24px;
  padding: 5px 0;
}

.roadmap_inner .roadmap_content {
  background: #fff none repeat scroll 0 0;
  border-radius: 50%;
  display: inline-block;
  height: 82px;
  padding: 26px 0 0;
  width: 82px;
}

.clr1 h4 {
  color: #fe8654;
}

.clr1 .roadmap_content {
  box-shadow: 0 0 0 7px #fe8654 inset;
  margin: 78px 0 0;
  position: relative;
}


.clr1 .roadmap_content::after {
  background: rgba(0, 0, 0, 0) url("../images/afic1.png") no-repeat scroll center center;
  bottom: 81px;
  content: "";
  height: 98px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  width: 25px;
}


.clr1 .keycontent {
  margin: 0 0 42px;
}


.clr2 h4 {
  color: #288e81;
}

.clr2 .roadmap_content {
  box-shadow: 0 0 0 7px #288e81 inset;
  margin: 0 0 67px;
  position: relative;
}


.clr2 .roadmap_content::after {
  background: rgba(0, 0, 0, 0) url("../images/afic4.png") no-repeat scroll center center;
  top: 81px;
  content: "";
  height: 98px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  width: 25px;
}


.clr2 .keycontent {
  margin: 67px 0 0;
}


.text-right {

  text-align: right;
}


.clr3 h4 {
  color: #5f4f98;
}

.clr3 .roadmap_content {
  box-shadow: 0 0 0 7px #5f4f98 inset;
  margin: 78px 0 0;
  position: relative;
}


.clr3 .roadmap_content::after {
  background: rgba(0, 0, 0, 0) url("../images/afic3.png") no-repeat scroll center center;
  bottom: 81px;
  content: "";
  height: 98px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  width: 25px;
}


.clr3 .keycontent {
  margin: 0 0 42px;
}


.clr4 h4 {
  color: #9e3f5f;
}

.clr4 .roadmap_content {
  box-shadow: 0 0 0 7px #9e3f5f inset;
  margin: 0 0 67px;
  position: relative;
}


.clr4 .roadmap_content::after {
  background: rgba(0, 0, 0, 0) url("../images/afic2.png") no-repeat scroll center center;
  top: 81px;
  content: "";
  height: 98px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  width: 25px;
}


.clr4 .keycontent {
  margin: 67px 0 0;
}



.clr5 h4 {
  color: #f3666f;
}

.clr5 .roadmap_content {
  box-shadow: 0 0 0 7px #f3666f inset;
  margin: 78px 0 0;
  position: relative;
}


.clr5 .roadmap_content::after {
  background: rgba(0, 0, 0, 0) url("../images/afic5.png") no-repeat scroll center center;
  bottom: 81px;
  content: "";
  height: 98px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  width: 25px;
}


.clr5 .keycontent {
  margin: 0 0 42px;
}



.roadmap_section::after {
  border-bottom: 4px solid #7d8081;
  bottom: 0;
  content: "";
  height: 5px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: -11px;
  width: 99%;
}

.roadmap_section { position:relative;
}



/*
.roadmap_inner .keycontent:nth-child(5n-3) h4 {
  color: #288e81 ;
}

.roadmap_inner .keycontent:nth-child(5n-2) h4 {
  color: #5f4f98 ;
  }

.roadmap_inner .keycontent:nth-child(5n-1) h4 {
  color: #9e3f5f ;
}

.roadmap_inner .keycontent:nth-child(5n-0) h4 {
  color: #f3666f ;
}
*/

.roadmap_section .owl-controls .owl-buttons div {
  color: #7d8081;
  font-size: 20px;
  height: 29px;
  padding: 0;
  text-align: center;
  width: 11px;
}


.roadmap_section .owl-controls .owl-buttons div i{line-height:21px;}
.roadmap_section .owl-controls .owl-buttons div:hover{ cursor:pointer;}
.roadmap_section .owl-controls .owl-buttons .owl-prev{ position:absolute; left:0; top:0; bottom:0; margin:auto;}
.roadmap_section .owl-controls .owl-buttons .owl-next{ position:absolute; right:0; top:0; bottom:0; margin:auto;}

.owl-theme .owl-controls .owl-buttons div {
  background: transparent none repeat scroll 0 0;
  display: inline-block;
  opacity: 1;
}

.discrip ul {
  list-style: outside none none;
}
.discrip li {
  display: inline-block;

  text-align: right;
  vertical-align: middle;
  width: 144px;
}

.discrip li h2{ color:#0080ff; font-size:30px; font-weight:800; }

.discrip li p {
  color: #353535;
  display: inline-block;
  font-family: open sans;
  font-size: 12px;
  line-height: 22px;
  width: 107px;
}
.tokendescri {
  padding: 35px 0;
  position: relative;
  color: white !important;
}

.tokendescri h2 {
  color: white !important;
}

.tokendescri p {
  color: white !important;
}

.tokendescri::before {
  background-color: #215281;
  bottom: 0;
  content: "";
  height: 100%;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  width: 100%;
}

.bluclr {
  color: #0080ff;
  margin: 0 0 29px;
}



/* .indresgsec input[type="text"] {
  background: #0a243e none repeat scroll 0 0;
  border: medium none;
  border-radius: 5px;
  color: #fff;
  font-family: open sans;
  font-size: 14px;
  height: 50px;
  margin: 10px 100px;
  text-align: center;
  padding: 0 0 0 14px;
  width: 300px;
} */


.discont {
  margin: 0 11px 22px 7px;
}

.imdlisect {
  text-align: center !important;
  width: 154px !important;
}

.imdlisect img {
  display: inline-block;
}

.secdes2 {
  text-align: left !important;
}


.ourteamsec {
  background: url(../images/memaft.png) no-repeat scroll bottom center, #0a243e none repeat scroll 0 0;
  padding: 42px 0;
}

.teamdes {
  padding: 17px;
}

.teamdes h3 {
  color: #0080ff;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.teamdes > h3 img {
  border-radius: 50%;
  display: inline-block;
  margin: 0 11px 0 0;
}

.teamdes > span {
  color: #fff;
  display: inline-block;
  font-family: open sans;
  font-size: 14px;
  font-weight: 600;
  padding: 11px 0 9px 16px;
  width: 100%;
}

.teamfeatdhole {
  border-radius: 14px;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.3);
  margin: 0 0 28px;
}


.socisec {
  background: #162e47 none repeat scroll 0 0;
  border-radius: 0 0 14px 14px;
  padding: 10px 0;
  text-align: center;
}

.socisec ul {
  list-style: outside none none;
}

.socisec li {
  display: inline-block;
  padding: 0 4px;
  text-align: center;
}


.socisec a {
  color: #fff;
  padding: 0 3px;
}



.teamdes > p {
  color: #fff;
  font-family: open sans;
  font-size: 14px;
  font-style: italic;
  font-weight: 600;
  line-height: 24px;
  padding: 0 0 0 16px;
}


.footersec {
  background:  rgba(0, 0, 0, 0)url(../images/footerbg.jpg) no-repeat scroll center/cover;
  padding: 33px 0;
}

.footersec ul{ list-style:none;
}
.footersec li{ display:inline-block; padding:0 0 0 10px;
}
.footersec p {
  color: #fff;
  font-family: open sans;
  font-size: 14px;
  line-height: 24px;
}

.footersoci {
  text-align: right;
}

.footerbtm {
  background: #021426 none repeat scroll 0 0;
  padding: 12px 0;
}

.footerbtm h6 {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  margin: 0px;
}
.termscontd {
  text-align: right;
}


.footerbtm ul {
  list-style: outside none none;
}


.footerbtm li {
  display: inline-block;
  padding: 0 0 0 38px;
}

.termscontd a {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
}
.titldes {
  text-align: right;
}

.teamdes > span i {
  color: #0080ff;
  padding: 0 6px 0 0;
}





/**Dashboard**/


.dashbody{ background:#fff; color:#000;}

/*.ui-aside-compact .ui-content{ margin-left:62px;}
.ui-content-body{ margin-bottom:0; padding: 15px;}
.ui {padding-top: 62px;}
.ui-aside-compact .ui-aside { width: 62px;}
.ui-aside .nav > li > a { padding: 15px;}
.ui-aside-compact .ui-footer { margin-left: 62px;}
.ui-header{ height:62px;}
.ui-header .navbar-collapse{ height:62px;}
.ui-header .navbar-brand { padding: 0; height:62px;}
.ui-aside-compact .ui-header .navbar-header { width: 62px;}
.ui-header .nav li a i{ font-size:21px; color:#fff;}
.ui-header .navbar-collapse .navbar-nav li a{ height:62px; padding: 18px 21px; background:#8098cd;}
.ui-aside .nav li a i{ font-size:16px; color:#fff; text-align:center; width:33px; height:33px; border-radius:50%; line-height:33px;
margin-top:0; margin-right:5px;}
.ui-aside{ background-color:#312f54; border:none;}
.ui-aside::before{ background-color:#312f54;}
.ui-aside .nav > li > a > span{ line-height:33px;}
.ui-aside .nav .active{ background:none;}
.ui-aside .nav .active a i{ background:#9dbafa;}
.ui-aside .nav .active a{-webkit-box-shadow: inset -3px 0px 0px 0px rgba(157,186,250,1);
-moz-box-shadow: inset -3px 0px 0px 0px rgba(157,186,250,1);
box-shadow: inset -3px 0px 0px 0px rgba(157,186,250,1);}
.ui-aside-compact .nav > li .nav-sub{ background-color:#312f54;}
.ui-footer{ font-size:14px; color:#fff; background-color:#1b1936;}*/

.dshttl{ display:inline-block; padding: 19px 18px;}
.dshttl h4 {
  color: #fff;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  vertical-align: middle;
}

.dshttl h4 i {
  font-size: 27px;
  margin-right: 5px; vertical-align:middle;
}


.dshtprit{ display:inline-block; float:right;}
.actadmn{ display:inline-block; vertical-align:middle;}
.actadmn h4{ font-size:16px; color:#fff; text-transform:capitalize;}
.actadmn h4 span{ display:inline-block; padding-left:15px;}
.actadmn h4 span a{ display:inline-block; position:relative;}
.actadmn h4 span a img{ display:inline-block; border-radius:50%;}
.actadmn h4 span a i {
  border-radius: 50%;
  bottom: 0;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  padding: 3px 5px;
  right: 0;
  transition: all 0.3s ease 0s;
}


.dshlnk{ display:inline-block; vertical-align:middle; padding: 19px 15px;}
.dshlnk ul{ list-style:none;}
.dshlnk ul li{ display:inline-block; margin: 0 10px;}
.dshlnk ul li a{ display:inline-block; font-size:16px; color:#fff; transition:.3s;}
.dshlnk ul li:last-child a i{ padding-left:5px;}

.dshlnk ul li a:hover{ color:#0080ff; transition:.3s;}

.hdrmnu .navbar-nav > .dropdown > a i{ margin-left:8px; font-size:12px;}

.actadmn > .open > a,
.actadmn > .open > a:focus,
.actadmn > .open > a:hover{ background:none;}

.actadmn h4 .open a i{ background-color:#0080ff !important; transition:.3s;}

.actadmn .dropdown-menu{ border:0; background:#0080ff; border-radius:0; top:55px; right:0; left: auto; min-width:auto;}
.actadmn .dropdown-menu li a{ color:#fff; text-transform:capitalize; width:100%;}
.actadmn .dropdown-menu li a:hover{ background:#fff; color:#000817;}


.dshbdytp{ width:100%; background: url(../images/dshbdytpbg.jpg) no-repeat center top fixed; background-size:cover; padding: 50px 20px 70px;}
.dshbdytpinr{ width:100%; margin-bottom:30px;}
.dshwlcm{ width:100%;}
.dshwlcm h3{ width:100%; display:inline-block; font-size:22px; color:#02ffff; font-weight:bold; text-transform:capitalize;}
.dshwlcm h3 span{ font-size:14px; color:#02ffff; text-transform:capitalize; font-weight:normal; margin:0 15px;}
.dshwlcm h3 span i{ margin-right:5px;}
.dshwlcm h3 span small{ font-size:14px; color:#fff; display:inline-block; margin: 0 18px 0 5px;}

.dshbrdcrumb{ width;100%; text-align:right; padding: 2px 0;}
.dshbrdcrumb .breadcrumb{ padding:0; margin-bottom:0;}
.dshbrdcrumb .breadcrumb li{ font-size:14px; color:#02ffff;}
.dshbrdcrumb .breadcrumb li a{ color:#fff; transition:.3s;}
.dshbrdcrumb .breadcrumb li a:hover{ color:#02ffff; transition:.3s;}
.dshbrdcrumb .breadcrumb > li + li::before{color: #02ffff; font-size:16px; font-family:"Fontawesome"; content: "\f105"; padding: 0 5px;}

.dshqlnks{ width:100%; margin-bottom:30px;}
.dshqlnkslft{ width:100%;}
.dshqlnkslft h4{ width:100%; display:inline-block; background:#fff; border-radius: 30px;}
.dshqlnkslft h4 span{ font-size:16px; color:#fff; font-weight:bold; text-transform:capitalize; background:#312f54;
vertical-align:middle; display:inline-block; padding: 16px 34px; border-radius: 30px;}
.dshqlnkslft h4 span i{ color:#fff; margin-left:5px;}
.dshqlnkslft ul{ list-style:none; display:inline-block; vertical-align:middle;}
.dshqlnkslft ul li{ display:inline-block; border-right:2px solid #312f54; padding:0 20px;}
.dshqlnkslft ul li:last-child{ border:none;}
.dshqlnkslft ul li a{ display:inline-block; font-size:16px; color:#312f54; font-weight:bold; text-transform:capitalize; transition:.3s;}
.dshqlnkslft ul li a:hover{ color:#9dbafa; transition:.3s;}
.dshqlnkslft ul li a i{ margin-left:5px;}

.dshqlnksrit{ width:100%;}
.dshqlnksrit h4{ display:inline-block; width:100%; background:#fff; font-size:16px; color:#312f54; font-weight:bold;
border-radius:30px;}
.dshqlnksrit h4 i{ font-size:18px; color:#fff; width:52px; height:52px; border-radius:50%; text-align:center; line-height:52px;
background:#312f54; display:inline-block; margin-right:15px;}
.dshqlnksrit h4 span{ font-weight:normal;}

.dshbxs{ width:100%;}
.dshbdttl{ width:100%;}
.dshbdttl h2{ font-size:18px; color:#fff; font-weight:300; width:100%; display:inline-block; text-transform:uppercase; margin-bottom:20px;}
.dshbdttl h2 i{ margin-right:15px;}

.dshbdttl2 h2{ color:#0080ff;}


.dshbxs{ width:100%;}
.dshbx{ background: url(../images/plan_bg.png) no-repeat center bottom, #fff;
-webkit-box-shadow: 0px 15px 32px 0px rgba(0,0,0,0.27);
-moz-box-shadow: 0px 15px 32px 0px rgba(0,0,0,0.27);
box-shadow: 0px 15px 32px 0px rgba(0,0,0,0.27);
width:100%; display:inline-block; padding: 24px 20px; background-size:cover;}
.dshbx h5{ font-size:20px; color:#0080ff; font-weight:bold; text-transform:capitalize; line-height:28px;
margin-bottom:8px;}
.dshbx h5 img{ display:inline-block; float:right;}
.dshbx h5 span{ font-size:14px; color:#0080ff; font-weight:300; display:block;}
.dshbx h3{ font-size:30px; color:#000; font-weight:normal;}
.dshbx h3 small{ display:inline-block; vertical-align: super; font-size:16px;}

.dshbdybtm{ width:100%; padding:30px 20px;}

.chartcont{ width:100%;}
.chartbx{ -webkit-box-shadow: 0px 15px 32px 0px rgba(0,0,0,0.27);
-moz-box-shadow: 0px 15px 32px 0px rgba(0,0,0,0.27);
box-shadow: 0px 15px 32px 0px rgba(0,0,0,0.27); border-radius:10px;
width:100%; display:inline-block; background:#fff; padding: 20px 20px;}
.chartbx h5{ width:100%; display:inline-block; font-size:16px; color:#0080ff; font-weight:300; text-transform:capitalize;
margin-bottom:30px;}
.chartbx h5 i{ margin-right:10px;}


.dashbody .navbar-header {
  background: #fff none repeat scroll 0 0;
}

.pribtc {
  display: inline-block;
  list-style: outside none none;
}
.pribtc li {
  background: #fff none repeat scroll 0 0;
  border-radius: 20px;
  color: #0a243e;
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
  margin: 0 5px;
  padding: 6px 15px;
  text-transform: uppercase;
}

.dastopcontent {
  background: rgba(0, 0, 0, 0)  url(../images/dastopcon.png) no-repeat scroll center/cover;
  padding:30px;
}

.daslindes h4 {
  color: #0a243e;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  margin: 0 0 0 24px;
  text-transform: capitalize;
}
.daslindes h4 a {
  color: #0080ff;

}

.linkdesdasbordmain ul {
  list-style: outside none none;
}

.btn-innerdesign {
  background: #fff none repeat scroll 0 0 !important;
  border: 2px solid #efefef;
  border-radius: 23px;
  color: #0a243e;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  padding: 7px 25px;
}


.linkdesdasbordmain {
  padding: 23px 0 0;
}
.btn-innerdesign:hover { background:#0080ff none repeat scroll 0 0 !important; color:#fff;}
.linkdesdasbordmain ul li {
  display: inline-block;
  margin: 0 5px 0 0;
}

.dascotd {
  margin: 31px 0;

}

.dasinfos, .dastable , .dascotd{
  padding: 0 30px;
}
.infoimgd {
  background: #0080ff none repeat scroll 0 0;
  display: inline-block;
  float: left;
  height: 104px;
  margin: 0 23px 0 0;
  padding: 32px 0 0;
  text-align: center;
  width: 60px;
}
.infodashsec h4 span {
  color: #8c8c8c;
  display: block;
  font-size: 24px;
}
.infodashsec {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  height: 104px;
  margin: 0 0 23px;
}

.infoimgd img {
  display: inline-block;
  width: 58%;
}

.infodashsec h4 {
  color: #0080ff;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  padding: 22px 0 0;
  text-transform: uppercase;
}

.boxdasdes {
  background: rgba(0, 0, 0, 0) url("../images/dasbox.png") no-repeat scroll center center / cover ;
  border-radius: 10px;
  box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.2);
  height: 131px;
  padding: 34px 13px 0;
  width: 283px;
}


.imgsecdesdas {
  background: #000 none repeat scroll 0 0;
  border-radius: 50%;
  display: inline-block;
  float: left;
  height: 57px;
  margin: 0 17px;
  padding: 12px 0 0;
  text-align: center;
  width: 57px;
}
.boxdasdes h4, .imgdestra h4 {

  color: #bcbcbc;
  font-size: 18px;
  line-height: 28px;
  padding: 0 0 1px;
  text-transform: uppercase;
}

.dasclr1 .imgsecdesdas,.dasclr1 .imgdestra {
  background: #f99300 none repeat scroll 0 0;
}

.dasclr1 h4 span {
  color: #f99300;
}

.traboxsec.dasclr1 h4 {
  box-shadow: none;
}
.traboxsec.dasclr2 h4 {
  box-shadow: none;
}
.traboxsec.dasclr3 h4 {
  box-shadow: none;
}

.traboxsec h4 {
  color: #bcbcbc;
  padding: 10px 0 0;
  text-transform: uppercase;
}


.dasclr1 h4{
  box-shadow: -9px 0 0 0 #f99300;
}


.dasclr2 .imgsecdesdas, .dasclr2 .imgdestra {
  background: #0080ff none repeat scroll 0 0;
}

.dasclr2 h4 span {
  color: #0080ff;
}

.dasclr2 h4{
  box-shadow: -9px 0 0 0 #0080ff;
}

.dasclr3 .imgsecdesdas {
  background: #62688f none repeat scroll 0 0;
}

.dasclr3 h4 span {
  color: #62688f;
}

.dasclr3 h4{
  box-shadow: -9px 0 0 0 #62688f;
}

.dasclr4 .imgsecdesdas, .dasclr3 .imgdestra {
  background: #272c3e none repeat scroll 0 0;
}

.dasclr4 h4 span {
  color: #272c3e;
}

.dasclr4 h4{
  box-shadow: -9px 0 0 0 #272c3e;
}





.boxdasdes h4 span {
  display: block;
}


.imgsecdesdas img {
  display: inline-block;
}


.daslindes h3 {
  background: #fff none repeat scroll 0 0;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  color: #000;
  display: inline-block;
  font-family: open sans;
  font-size: 14px;
  font-weight: 400;
  padding: 0 0 0 9px;
}

.daslindes h3 input {
  background: #0080ff none repeat scroll 0 0;
  color: #fff;
  font-family: montserrat;
  font-size: 14px;
  margin: 0 0 0 13px;
  padding: 10px 29px;
  text-transform: capitalize;
}


table tbody tr td {
  background: #fff none repeat scroll 0 0;
  border-bottom: 1px solid #eaeaea;
  color: #000;
  font-size: 13px;
  font-weight: 400;
  padding: 10px 32px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
}

.table-responsive {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

}

.tablede h3 {
  color: #0a243e;
  font-size: 20px;
  padding: 15px 0 26px;
  vertical-align: middle;
}


.tablede h3 i {
  border-radius: 50%;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
  display: inline-block;
  font-size: 29px;
  height: 63px;
  line-height: 63px;
  margin: 0 18px 0 0;
  text-align: center;
  vertical-align: middle;
  width: 63px;
}

.tablede i {
  color: #0080ff;
}

.tablede {
  padding: 0 0 39px;
}


.timeredes {
  text-align: center;
}

.imgdestra {
  background: #000 none repeat scroll 0 0;
  border-radius: 50%;
  display: inline-block;
  float: left;
  height: 49px;
  margin: 0 15px 0 0;
  padding: 10px 0 0;
  text-align: center;
  width: 49px;
}


.imgdestra img {
  display: inline-block;
}

.traboxsec {
  background: #fff none repeat scroll 0 0;
  border-radius: 25px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  height: 56px;
  padding: 4px;
}


.timeredes .btn-success {
  background: #39b54a none repeat scroll 0 0;
  border: medium none;
  display: inline-block;
  margin: 25px 0;
}

.timerscle {
  transform: scale(0.6);
}



.slider_bar {
  display: inline-block;
  padding: 0 0 39px;
  width: 59%;
  position: relative;
}

.timeredes .tooltip {
  bottom: -67px;

}

/* Countdown */

.countDays, .countHours, .countMinutes, .countSeconds {
  background: #fff none repeat scroll 0 0;
  border-radius: 50%;
  box-shadow: 0 0 0 8px #1db8d3;
  height: 130px !important;
  margin: 0 7px;
  padding: 23px 0 0;
  width: 130px;
}


.countdownHolder{ font-size:50px;font-family: 'Ubuntu', sans-serif;
  text-align:center; font-weight:bold;}
.digit{width: 41px; background:none;}
.countdownHolder > span {
  letter-spacing: -20px;
  margin: 0 18px 0 0;
  position: relative;
}

.timermargin {
  display: inline-block;
  margin: -11px 0;
  width: 100%;
}

.counterimge {
  text-align: right;
}

.counterimge h3 {
  background: rgba(0, 0, 0, 0) url("../images/couterbg.png") no-repeat scroll left center;
  color: #fff;
  display: inline-block;
  font-size: 28px;
  font-weight: 800;
  height: 138px;
  padding: 39px 124px;
  text-align: left;
  text-transform: uppercase;
  width: 317px;
}


.counterimge h3 span {
  display: block;
}


.countdownHolder > span::after {
  bottom: 33px;
  color: #0a243e;
  display: inline-block;
  font-family: ubuntu;
  font-size: 12px;
  font-weight: 400;
  left: 6px;
  letter-spacing: normal;
  line-height: normal;
  margin: auto;
  position: absolute;
  right: 0;
  text-align: center;
  text-transform: uppercase;
}


.timerscle .countdownHolder > span::after {
  bottom: 27px;
  color: #0a243e;
  display: inline-block;
  font-family: ubuntu;
  font-size: 18px;
  font-weight: 400;
  left: 6px;
  letter-spacing: normal;
  line-height: normal;
  margin: auto;
  position: absolute;
  right: 0;
  text-align: center;
  text-transform: uppercase;
}


.countDays:after{content:"days";}
.countHours:after{content:"hours";}
.countMinutes:after{content:"mins";}
.countSeconds:after{content:"secs";}

.timer_content{ width:100%; display:inline-block;}
.timersect {
  background: #1db8d3 none repeat scroll 0 0;
}

.timersect div {
  z-index: 4;
}
.slider_bar .slider.slider-horizontal { height: 24px; width: 100%;}
.slider_bar .slider.slider-horizontal .slider-track { height: 8px; margin-top: -4px;}
.slider_bar .slider-track-low, .slider-track-high{ background:#ebebeb;}
.slider_bar .slider-selection {
  background: #0080ff none repeat scroll 0 0;
}

.slider_bar .slider-handle {
  background: #0080ff none repeat scroll 0 0;
  border: 0 solid transparent;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  filter: none;
  height: 24px;
  position: absolute;
  top: 0;
  width: 24px;
}

.slider_bar .slider{ margin-bottom:10px;}
.slider_bar .min-value {
  color: #0080ff;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  left: 0;
  position: absolute;
}

.selectdes {
  margin: 0 0 25px;
  width: 179px;
}


.slider_bar .max-value {
  color: #0080ff;
  display: inline-block;
  float: right;
  font-size: 18px;
  font-weight: bold;
}


.slider_bar .tooltip{}
.slider_bar .tooltip-inner{ background:none;}
.slider_bar .tooltip.top .tooltip-arrow{ display:none;}

.tooltip-inner {
  border-radius: 30px;
  color: #bcbcbc;
  font-family: ubuntu;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  text-transform: uppercase;
}

.tooltip.top .tooltip-arrow{ border-top-color:#0a1552;}

.slider .tooltip.top {
  margin-top: -60px;
}

.deposithead {
  text-align: center ;
}
.deposithead .title{ color: #0080ff !important;
}

.deposithead .title::after{ content: inherit !important;
}

.deposithead > h4 {
  color: #0a243e;
  font-size: 14px;
  font-weight: bold;
  padding: 4px 0 0;
}
.selectdes select {
  display: inline-block;
  padding: 0;
  width: auto;
}

.selectdes span {
  color: #0080ff;
  font-size: 13px;
  font-weight: 400;
  padding: 0 7px 0 0;
}

.depodesta {
  padding: 24px 0 19px;
}


td img {
  display: inline-block !important;
  margin: 0 5px 0 0;
}





.tabledepsoitcontdes {
  text-align: center;
}


.tabledepsoitcontdes label {
  font-size: 13px;
  font-weight: 400 !important;
}




.tabledepsoitcontdes > h5 {
  background: #0a243e none repeat scroll 0 0;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  padding: 13px 0;
}
.tabledepsoitcontdes h3 {
  color: #0080ff;
  font-size: 16px;
  padding: 8px 0;
  text-decoration: underline;
}
.error {
  color: #ff3333;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.tabledepsoitcontdes p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  padding: 3px 0;
}


  .ashclr {
  color: #bcbcbc;
}
.ashclr > a {
  color: #0080ff;
  text-decoration: underline !important;
}
.deposithead > h4 span {
  color: #39b54a;
  font-size: 24px;
  font-weight: 400;
}

.deposithead > p {
  color: #000;
  font-size: 14px;
}

.regheadsec {
  background: rgba(0, 0, 0, 0)  url(../images/regisbg.png) no-repeat scroll center/cover;
  padding: 62px 0;
}

.regdesdleft {
  text-align: center;
}

.regdesdleft img{ display: inline-block;
}


.headerdes {
  background: #091f36 none repeat scroll 0 0;
}
.regbre {
  padding: 8px 0 0;
  text-align: right;
  margin-right: 40px;
}

.regbre span a, .regbre span i {
  color: #fff;
  font-size: 14px;
  padding: 0 5px;
}

.regbre span a:hover{ color:#0080ff;}


.reginr {
  margin: 0 0 21px 0;
  position: relative;
}

.regformsec {
  border-bottom: 2px solid #ededed;
  border-left: 2px solid #ededed;
  border-radius: 0 10px 10px;
  border-right: 2px solid #ededed;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  padding: 28px 24px;
}


.chckbx {
  display: inline-block;
  margin: 14px 0;
}

.logindes .chckbx {
  width: 100%;
}


.chckbx p {
  color: #999999;
  display: inline-block;
  font-family: open sans;
  font-size: 14px;
  text-transform: capitalize;
}

.chckbx span a {
  color: #0080ff;
  float: right;
  font-family: open sans;
}


.regformsec.logindes {
  padding-bottom: 88px;
}

.reghole h3 {
  color: #0080ff;
  font-size: 25px;
  font-weight: 300;
  padding: 16px 0 4px;
}

.reghole h3 i {
  padding:0 10px 0 0;
}

.submitbtns {
  display: inline-block;
  float: right;
}
.submitbtns .btn {
  display: inline-block;
  padding: 9px 23px !important;
}


.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #fff;
  border-color: #ededed #ededed transparent;
  border-image: none;
  border-style: solid;
  border-width: 2px;
  color: #0080ff;
  cursor: default;
}

.regtapsecded .nav > li > a {

  display: block;
  padding: 6px 47px;
  position: relative;
}

.regtapsecded .nav > .active > a {
  border-bottom: medium none;
  padding: 15px 47px; color:#0080ff;
}

.regtapsecded {
  margin: 30px 0 0;
}

.regtapsecded .nav-tabs{ font-size:0px !important;}

.regtapsecded .nav-tabs > li {
  display: inline-block !important;
  float: none !important;
  margin-bottom: -1px !important;
  vertical-align: bottom;
}

.regtapsecded .nav-tabs > li > a {
  background-color: #fff;
  border: 2px solid #ededed;
  border-radius: 10px 10px 0 0;
  color: #bcbcbc;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.42857;
  margin-right: 0;
}


.reginr > span {
  bottom: 0;
  height: 40px;
  left: 0;
  margin: auto;
  position: absolute;
  top: 0;
}


.reginr > span i {
  background: #d60000 none repeat scroll 0 0;
  border-radius: 5px 0 0 5px;
  color: #fff;
  display: inline-block;
  font-size: 19px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  width: 40px;
}


/* Media Queries */

@media only screen and (max-width: 1200px){
	.traboxsec {
    height: auto;
    margin: 0 0 13px;
    text-align: center;
  } .imgdestra {
    float: none;
    margin: 0;
  } .boxdasdes {
    width: auto;
  } .footersoci {
    text-align: center;
  } .footerbtm h6 {
    padding: 0 0 11px;
  } .footersec, .footerbtm, .termscontd {
    text-align: center;
  } .teamdes > h3 img {
    border-radius: 50%;
    display: block;
    margin: auto;
  } .teamdes {
    text-align: center;
  } .tokendescri {
    text-align: center;
  } .pribtc {
    display: none;
  } .navbar-collapse {
    border-bottom: medium none;
    border-top: medium none;
    height: auto !important;
    padding-left: 0;
    padding-right: 0;
  } .infodashsec h4 span {
    font-size: 19px;
  }
}

@media only screen and (max-width: 991px){
	.regbre {
    padding: 0 0 20px;
    text-align: center;
  } .headerdes {
    text-align: center;
  } .headerdes img {
    display:inline-block;
  } .reghole {
    text-align: center;
  } .daslindes h4 {
    padding: 20px 0 0;
  } .dastopcontent {
    text-align: center;
  } .boxdasdes {
    margin: 0 0 27px;
    width: auto;
  } .title {
    text-align:center;
  } .title::after, .title.centersect::before, .tokendescri::before {
    content: inherit;
  } .featcont p {
    width: auto;
  } .titldes {
    padding: 0 0 24px;
    text-align: center;
  } .bannertext {
    padding: 0 0 10px;
    text-align: center;
  } .counterimge {
    padding: 19px 0 0;
    text-align: center;
  } .roadmap {
    background: transparent none repeat scroll 0 0;
    /*padding: 53px 0;*/
  } .videdes {
    box-shadow: none;
    position: relative;
    text-align: center;
  } .counterimge h3 {
    background: #0a243e none repeat scroll 0 0;
    border-radius: 25px;
    height: auto;
    padding: 15px 0;
    text-align: center;
    width: 100%;
  } .videdes span {
    height: auto;
    width: 100%;
  } .deposithead span {
    display: block;
  }
}

@media only screen and (max-width: 979px){
/* .reg-ani {
    width: 80vw !important;
  }*/ .dynamic-headline {
    overflow: hidden;
  } .counterimge {
    opacity: 0;
  } .referral-box {
    width: 80vw;
  } .legend h4 {
    width: 80vw;
  } .chart1 {
    width: 40vw;
    height: 40vw;
  } .chart2 {
    width: 40vw;
    height: 40vw;
  }
}

@media only screen and (max-width: 800px){
  .video-ani img {
    width: 800px;
    height: 421px;
  } .vid-container {
    overflow: hidden;
  } .vid-container h3 {
    font-size: 16px;
  } .vid-text {
    width: 40vw !important;
    margin-top: 30px !important;
  } .vid-container .watch-video {
    height: 40px;
    width: 160px;
  } .team-section {
    margin-top: -200px;
  } .about {
    margin-top: 50px;
  } .indresgsec {
    width: 90vw;
  } .referral-info {
    width: 90vw;
  } .sign-up p {
    width: 90vw;
  }
}


@media only screen and (max-width: 767px){
	.footerbtm h6 {
    font-size: 12px;
  } .footerbtm li {
    display: inline-block;
    padding: 0;
    width: 100%;
  } .btn-innerdesign {
    padding: 4px 8px;
  } .discrip {
    text-align: center;
  } .discrip li {
    text-align: center;
    width: auto;
  } .countDays, .countHours, .countMinutes, .countSeconds {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 0 0 8px #1db8d3;
    height: auto !important;
    margin: 0 !important;
    padding: 0 0 5px 0;
    width: auto; border-radius:0px;
  } .digit {
    width: auto;
  } .navbar-toggle {
    background-color: #1db8d3;;
    border-radius: 4px;
    margin-top: 18px;
  } .position {
    width: 28px;
  } .countdownHolder > span::after{
    content:inherit;
  } header .navbar-nav > li > a {
    padding: 6px 0;
  } header {
    position: relative;
    top: 0;
  } .banners {
    padding: 0 0 35px;
  } .bannertext h1 {
    font-size: 20px;
  } .bannertext h1 span {
    font-size: 20px;
    padding: 0 0 8px;
  } .referral-container {
    margin-top: -35px !important;
  } .mobile-margin {
    margin-top: 90px !important;
  }
}

@media only screen and (max-width: 731px) {
  .reg-border {
    width: 90vw;
  }
}

@media only screen and (max-width:600px){
  .chckbx span a {
    float: none;
    display: block;
    padding: 10px 0 0 0;
  } .submitbtns {
    float: none;
  } .dascotd .col-xs-6 {
    width: 100%;
  } .dshtprit {
    float: none;
  } .navbar-collapse {
    text-align: center;
  } .discrip li {
    text-align: center;
    width: 100%;
  } .secdes2 {
    text-align: center !important;
  } .faqsecde .accordion h4 {
    padding: 4px 57px 6px 30px;
  } .featuresdes .col-xs-6 {
    width: 100%;
  } .ourteamsec .col-xs-6 {
    width: 100%;
  } .countDays:after{content:"days"; margin-bottom: -33px !important;}
    .countHours:after{content:"hours"; margin-bottom: -33px !important;}
    .countMinutes:after{content:"mins"; margin-bottom: -33px !important;}
    .countSeconds:after{content:"secs"; margin-bottom: -33px !important;}
    .chart1 {
    width: 60vw !important;
    height: 60vw !important;
  } .chart2 {
    width: 60vw !important;
    height: 60vw !important;
  } .legend h4 {
    width: 95vw !important;
  }
}

@media only screen and (max-width: 520px){
	.ui-content-body {
    padding: 63px 0 0 !important;
  } .daslindes h3 input {
    display: block;
    margin: 10px auto;
  }
}

@media only screen and (max-width: 420px){
  .videdes span img {
    padding: 55px 0 0;
  } .regtapsecded .nav > .active > a {
    padding: 15px 29px;
  } .dynamic-headline p {
    width: 90vw;
  }
}

@media only screen and (max-width: 400px){
  .vid-container h3 {
    font-size: 12px;
  } .vid-text {
    width: 200px !important;
    margin-top: 20px !important;
  } .vid-container .watch-video {
    height: 30px;
    width: 120px;
  } .vid-container .watch-video h5 {
    font-size: 12px;
  } .team-section {
    margin-top: -350px;
  }
}


.cars-bottom {
        position: absolute;
        bottom: -11px;
    }


    .gradient-background-red {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#32cbf2+0,1da1e4+100 */
      background: #f84646; /* Old browsers */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
      background: -webkit-linear-gradient(90deg, #f84646, #fb9f51);
      background: linear-gradient(90deg, #f84646, #fb9f51); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f84646', endColorstr='#fb9f51',GradientType=0 ); /* IE6-9 */ 
    }


    .form-group {
      margin-bottom: 30px;
    }


    .form-input-select {
        /* position: absolute;
        top: 6px; */
        background: transparent;
        font-size: 15px;  
        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAOCAYAAAAi2ky3AAAAAXNSR0IArs4c6QAAAStJREFUKBWlUqFOxEAUZNuKCkw9P3EIDKKE5H6g/wDqVBNU24S0liDOo9CHwZO2EsMPnDh3KIKr4JK9meaG7MEB6bFJ82beezPdt7umKIqZtTY5+Mcyxjx4YRhOAN739aGWHl6WZUuYXO1rRC09DA0wmsGIT4Bn5ANWXVXVOXZlPYoIgiC4AOwGmHTUUEuNL2Fd129xHH+Aj5X7LcIgL8vyUT39jkR8379Fw4v4T5E97HXr/Rm5CZzVCPwZ5xa4eWGYrIBPcDZbP/wcTY1t275ixEPwU+XcCKMbmNy7OeKt0VSMougagrm4InOsibtxp1Gaph1El2jsb2QjsMyx5hoIfxtNhaZpFhjxCPyYOZjcYaSp6l/jzh2pCTfDF8+Xv9xglYbHPM8Tfn8p13Y+TwoHscCZAAAAAElFTkSuQmCC') right;
        background-size: 8px;
        background-repeat: no-repeat;
        /* background-position: 0 8px; */
        /* padding-left: 12px; */
        font-weight: 300;
        width: 100%;
        border-bottom: thin solid #e2e2e2 !important;
        border-radius: 0;        
        padding-top: 6px;
        padding-bottom: 6px;
    }


    .form-error {
        /*margin-bottom: 50px;*/
        text-align: left;
        top: 34px;
        /*position: absolute;*/
        width: 100%;
        font-size: 12px;  
        line-height: 15px;
    }


    .btn-group-small button{
        padding: 10px 20px !important;
        font-size: 14px !important;  
    }


    button:focus, select:focus {
      outline:none !important;
    }


    .form-group input {
      margin-bottom: 10px;
    }


    .form-group.form-group-error .remove_red_eye {
      right: 20px !important;
    }


    .form-group.form-group-error .form-control.style1 {
      border-bottom: thin solid red !important;
    }


    .form-group.form-group-error .top-label {
      /*color: red !important;*/
    }


    .form-group.form-group-error .material-icons-error {
      display: block !important;
      color: red;
    }


    .no-padding-right-odd.row .col:nth-child(odd) {
      padding-right: 0;
    }


    .form-group .top-label {
        font-size: 15px;
        position: absolute;
        top: 6px; 
        display: none; 
    }


    .form-group i.material-icons-error {
        position: absolute;
        z-index: 1000;
        top: 8px;
        right: 0;
        font-size: 16px;
        display: none;
    }


    .form-control.style1 {
      border: none;
      -webkit-box-shadow: none;
              box-shadow: none;
      border-radius: 0;
      border-bottom: thin solid #e2e2e2;
      padding-left: 0;
      padding-right: 0; 
      font-size: 16px;
      font-weight: 500;  
      color: #000; 
    }


    .form-control.style1:disabled {
      background: transparent;
    }


    .form-group {
      position: relative;
    }


    .form-control.style1:focus {
      border-bottom-color: #F84A48 !important;
    }


    .form-control.style1::-webkit-input-placeholder {
      color: #666;
      font-weight: 300;
    }


    .form-control.style1:-ms-input-placeholder {
      color: #666;
      font-weight: 300;
    }


    .form-control.style1::-ms-input-placeholder {
      color: #666;
      font-weight: 300;
    }


    .form-control.style1::placeholder {
      color: #666;
      font-weight: 300;
    }


    .form-group .active-border {
        display: block;
        width: 100%;
        height: 2px;
        background: #29a6d3;
        position: absolute;
        top: 32px;
        display: none;
    }


    .nmb {
      margin-bottom: 0 !important;
    }


    .form-toggler-container app-form-toggler:last-child .bb {
      border-bottom: 0;
    }


    .form-toggler-content {
      background-color: #f7f7f7;
    }


    .form-toggler-content input {
        width: 100%;
        padding: 7px 12px;
        font-size: 16px;
    }


    .badge-danger {
      background-color: red;
      color: #FFF;
    }


    .p-rel {
      position: relative;
    }


    .hoverable-row:hover {
      background: #f7fafb;
    }


    .full-link {
        position: absolute;
        left: 0;
        z-index: 9000;
        right: 0;
        width: 100%;
        top: 0;
        bottom: 0;
    }


    .title-bb {
        display: block;
        padding: 15px;
        font-weight: bold;
    }


    .mw-900 {
      max-width: 900px;
    }


    .sidenav-2 > li > a {
      display: block;
      padding: 5px 12px;
      color: #000;
    }


    .sidenav-2 > li > a > i {
        font-size: 16px;
        top: 2px;
        position: relative;
    }


    .sidenav-2 > li > a.active-link {
      background: #1fa7d721;
    }

    .form-control.style1[readonly] {
      background-color: #ffffff;
    }

    .npr {
      padding-right: 0;
    }


    .npl {
      padding-left: 0;
    }


    .br {
      border-right: thin solid #dadada;
    }


    .bb {
      border-bottom: thin solid #dadada;
    }


    .bl {
      border-left: thin solid #dadada;
    }


    .search-input {
        -webkit-box-shadow: none;
        box-shadow: none;
        border-radius: 0;
        border: thin solid #cacaca;
        padding: 7px 15px;
        border-radius: 20px;
        margin-top: 11px;
        position: relative;
        min-width: 350px;
        font-size: 12px;
        outline: none;
        -webkit-box-shadow: 1px 1px 1px inset rgba(0,0,0,0.1);
                box-shadow: 1px 1px 1px inset rgba(0,0,0,0.1);
        position: relative;
        top: -5px;
    }


    .search-input:focus {
      border-color: #d60000 !important;
    }


    .search-input:focus {
      outline: none;
    }


    .btn.btn-lg.btn-primary {
        font-size: 20px !important;
        padding-left: 40px !important;
        padding-right: 40px !important;
        padding-top: 15px;
        padding-bottom: 15px; 
    }


    .btn-lg-outline {
        padding: 10px 12px !important;
        border-radius: 40px !important;
    }


    .btn.active, .btn:active {
      -webkit-box-shadow: none;
              box-shadow: none;
    }


    .dash-logo {
        margin-top: 11px !important;
    }


    .prim-btn-outline {
        border: thin solid #d60000 !important;
        background: transparent;
        border-radius: 23px;
        color: #000;
        font-size: 16px;
    }


    .prim-btn-outline:hover {
      background: -webkit-linear-gradient(90deg, #d60000, #fb7400) !important;
      background: -moz-linear-gradient(90deg, #d60000, #fb7400) !important;
      background: linear-gradient(90deg, #d60000, #fb7400) !important;

      color: #FFF;
    }


    .btn-lg-txt {
      font-size: 22px;
    }


    .fixed-header {
        position: fixed;
        z-index: 1000;
        background: #FFF;
        -webkit-box-shadow: 0 2px 15px 0 rgba(0,0,0,0.15);
                box-shadow: 0 2px 15px 0 rgba(0,0,0,0.15);
        height: auto !important;
    }


    .fixed-header .btn.btn-primary {
        padding-left: 30px;
        padding-right: 30px;
        font-size: 15px;
        padding-top: 13px;
        padding-bottom: 13px;
    }


    .fixed-header a {
      color: #000;
    }


    .fixed-header i {
      color: #bdbdbd;
    }
    .fixed-header .active{
      background-color: transparent !important;
    }
    .fixed-header .active i{
      color: #000;
    }


    .main-nav {
      margin-right: 0px;
    }

    .main-nav {}


    .main-nav .dropdown-menu {
      padding: 0;
    }


    .main-nav .list-inline-item a{
      display: block;

    }
    .main-nav .list-inline-item :active{
      color:#000;

    }


    .main-nav .list-inline-item > a{
      padding: 13px 0px;
    }


    .main-nav .dropdown-menu a {
      display: block;
      padding: 10px;
      border-bottom: thin solid #dedede;
    }


    .main-nav .dropdown-menu a:last-child {
      border-bottom: none;
    }


    .full-width-list {
      width: 100%;
      display: table;
    }


    .full-width-list li {
      display: table-cell;
    }


    .list-with-border li {
      border-right: thin solid #dadada;
    }


    .list-with-border li:last-child {
      border-right: none;
    }


    .text-muted {
      color: #b5b5b5;
    }


    .break-txt {
      word-break: break-all;
    }


    .pl-0 {
      padding-left: 0 !important;
    }


    .pr-0 {
      padding-right: 0 !important;
    }


    * {
      margin: 0;
      padding: 0;
      -webkit-overflow-scrolling: touch;
    }


    h1,h2,h3,h4,h5,h6,p,ul {
      margin: 0;
      padding: 0;
    }


    a {
      text-decoration: none !important;
    }


    input[type="submit"] {
      border: none;
    }


    body {
      font-family: 'Montserrat', sans-serif;
      /* background-color: #F5F5F5; */
    }


    .btn-group.btn-group-block {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }


    .btn-group.btn-group-block button{
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
    }


    .btn.btn-primary {
      border-radius: 5px;
      background: linear-gradient(90deg, #d60000, #fb7400) !important;
      border: none; 
      font-size: 16px;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 18px;
      padding-right: 18px;
      transition:.3s;
    }

    .btn.btn-primary:hover{
      background: linear-gradient(90deg, #fb7400, #d60000) !important;
    } 


    .btn.btn-primary.btn-primary-i {
      padding-right: 55px;
    }


    .btn.btn-primary.btn-primary-i i{
        position: absolute;
        font-size: 40px;
        margin-top: -8px;
        margin-left: 6px;  
    }


    .btn-primary.active {
      background-color: #082036 !important;
      background-image: none;
    }


    .active:after {
      content: "" !important;
    }


    .mb-0 {
      margin-bottom: 0 !important;
    }


    .text-danger {
      color: red;
    }


    input.has-danger {
      border: thin solid red !important;
    }


    input[type="radio"] {
      margin: 0 5px 0 0;
      vertical-align: middle;
    }


    input[type="checkbox"] {
      margin: 0 5px 0 0;
    }


    .table-responsive {
      border: none;
      padding: 0;
      margin: 0;
    }


    table {
      width: 100%;
    }


    table tbody td {
      text-align: center;
      white-space: nowrap;
    }


    .reg-form input[type="text"],.reg-form input[type="email"],.reg-form input[type="password"] {
      background: transparent none repeat scroll 0 0;
      border-color: -moz-use-text-color -moz-use-text-color #d60000;
      border-radius: 5px;
      border-style: none;
      -webkit-box-shadow: 0px 0px 3px #D9D9D9;
              box-shadow: 0px 0px 3px #D9D9D9;
      color: #333 !important;
      font-family: open sans;
      font-size: 14px;
      height: 40px;
      outline: medium none;
      padding: 0 11px 0 55px;
      -webkit-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      width: 100%;
    }


    .reg-form input[type="text"]:active,.reg-form input[type="email"]:active,.reg-form input[type="password"]:active,.reg-form input[type="text"]:focus,.reg-form input[type="email"]:focus,.reg-form input[type="password"]:focus {
      border-bottom: 4px solid #d60000 !important;
      -webkit-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
    }


    ::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      opacity: 1;
    }


    ::-moz-placeholder {
      /* Firefox 19+ */
      opacity: 1;
    }


    :-ms-input-placeholder {
      /* IE 10+ */
      opacity: 1;
    }


    :-moz-placeholder {
      /* Firefox 18- */
      opacity: 1;
    }


    /* Navbar and Language Bar */


    .indextopsection {
      background: #1db8d3 none repeat scroll 0 0;
    }


    .language {
      text-align: right;
    }


    .language button {
      font-family: 'Montserrat', sans-serif;
      background: transparent none repeat scroll 0 0;
      border: medium none;
      color: #fff;
      font-size: 14px;
      padding: 5px 0;
    }


    header {
      top: 0;
      width: 100%;
      z-index: 2;
    }


    header .navbar {
      background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
      border-color: -moz-use-text-color -moz-use-text-color #1db8d3;
      border-radius: 0;
      border-style: none none solid;
      border-width: medium medium 1px;
      margin: 0;
      min-height: auto;
    }


    .navbar {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }


    #myNavbar {
      margin-left: 10px;
    }


    #myNavbar a {
      color: #1db8d3;
      font-size: 20px;
      font-weight: 300;
      margin: 0px;
    }


    #myNavbar a:hover {
      background-color: #1db8d3 !important;
    }


    header .navbar-nav > li {
      padding: 0;
    }


    header .navbar-nav > li > a {
      font-family: "Montserrat",sans-serif;
      font-size: 14px;
      font-weight: 400;
      margin: 0 0 0 5px;
      padding: 26px 12px;
      text-transform: capitalize;
      -webkit-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
    }


    header .navbar-nav > li > a:hover {
      color: #fff !important;
      -webkit-transition: .3s;
      transition: .3s;
    }


    header .navbar-right {
      margin: 0;
    }


    header .navbar-collapse {
      padding: 0;
      -webkit-box-shadow: none;
              box-shadow: none;
    }


    header .navbar-header a {
      display: inline-block;
    }


    header .navbar-header a img {
      display: inline-block;
    }


    .nav-logo {
      height: 60px;
      width: 60px;
    }


    .slider {
      width: 500px;
      background: rgba(0,0,0,0);
    }


    .top-section {
      overflow: hidden;
      word-wrap: break-word;
      width: 100vw;
    }


    /* Non-index page classes and unused classes */


    /* faq content */


    .videdes span {
      bottom: 0;
      height: 349px;
      left: 0;
      margin: auto;
      position: absolute;
      right: 0;
      text-align: center;
      top: 0;
      width: 475px;
    }


    .videdes span img {
      padding: 140px 0 0;
    }


    .videdes {
      position: absolute;
    }


    .videdes  img {
      display: inline-block;
    }


    .videdes {
      position: relative;
      text-align: center;
      margin-top: 12px;
      padding: 15px;
    }


    /* core feature */


    .title {
      color: #174a7c;
      display: inline-block;
      font-size: 26px;
      font-weight: bold;
      text-transform: uppercase;
      position: relative;
    }


    .indresgsec .btn-info {
      margin: 25px 0 0;
    }


    .navbar-shadow {
      -webkit-box-shadow: 0px 3px 5px -2px #a9a9a9;
              box-shadow: 0px 3px 5px -2px #a9a9a9;
    }


    .navbar-xtra-pad {
      padding: 0px 15px;
    }


    .icon-bar {
      background-color: #fff;
    }


    .featuresdes {
      background-color: #2cb8d2;
      padding: 48px 0;
      margin-bottom: -3px;
      z-index: 6;
      position: relative;
    }


    .title::after {
      bottom: 0;
      content: "";
      height: 27px;
      margin: auto;
      position: absolute;
      right: -41px;
      top: 10px;
      width: 33px;
    }


    .text-right {
      text-align: right;
    }


    table tbody tr td {
      background: #fff none repeat scroll 0 0;
      border-bottom: 1px solid #eaeaea;
      color: #000;
      font-size: 13px;
      font-weight: 400;
      padding: 10px 32px;
      text-align: left;
      text-transform: capitalize;
      white-space: nowrap;
    }


    .table-responsive {
      -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
              box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    }


    .slider_bar {
      display: inline-block;
      padding: 0 0 39px;
      width: 59%;
      position: relative;
    }


    /* Countdown */


    .timer_content {
      width: 100%;
      display: inline-block;
    }


    .slider-track-high {
      background: #ebebeb;
    }


    .slider_bar .slider-handle {
      background: #0080ff none repeat scroll 0 0;
      border: 0 solid transparent;
      -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
              box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
      -webkit-filter: none;
              filter: none;
      height: 24px;
      position: absolute;
      top: 0;
      width: 24px;
    }


    .slider_bar .slider {
      margin-bottom: 10px;
    }


    td img {
      display: inline-block !important;
      margin: 0 5px 0 0;
    }


    .reginr {
      margin: 0 0 21px 0;
      position: relative;
    }


    .chckbx {
      display: block;
      margin: 14px 0;
    }


    .chckbx p {
      color: #999999;
      display: inline-block;
      font-family: open sans;
      font-size: 14px;
      text-transform: capitalize;
    }


    .chckbx span a {
      color: #0080ff;
      float: right;
      font-family: open sans;
    }


    .reginr > span {
      bottom: 0;
      height: 40px;
      left: 0;
      margin: 0;
      position: absolute;
      top: 0;
    }


    .reginr > span i {
      background: #d60000 none repeat scroll 0 0 !important;
      border-radius: 5px 0 0 5px;
      color: #fff;
      display: inline-block;
      font-size: 19px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      width: 40px;
    }
    .ajax-reset-password #password-error,
    .ajax-reset-password #confirm_password-error{
      width: 100%;
      text-align: left;
      padding-left: 55px;
      margin-top: 4px;
    }


    /* Media Queries */


    @media only screen and (max-width: 1200px) {
      .navbar-collapse {
        border-bottom: medium none;
        border-top: medium none;
        height: auto !important;
        padding-left: 0;
        padding-right: 0;
      }
      .ajax-reset-password #password-error,
      .ajax-reset-password #confirm_password-error{
        font-size: 12px;
      }
    }


    @media only screen and (max-width: 767px) {
      .navbar-toggle {
        background-color: #1db8d3;
        border-radius: 4px;
        margin-top: 18px;
      }

      header .navbar-nav > li > a {
        padding: 6px 0;
      }

      header {
        position: relative;
        top: 0;
      }

      .banners {
        padding: 0 0 35px;
      }

      .referral-container {
        margin-top: -35px !important;
      }

      .mobile-margin {
        margin-top: 90px !important;
      }
      .main-nav .list-inline-item > a {
          padding: 15px 0px 8px;
      }
      .dash-logo {
          margin-top: 8px !important;
      }
      .material-icons{
        font-size: 20px;
      }
    }


    @media only screen and (max-width: 731px) {
      .reg-border {
        width: 90vw;
      }
    }


    @media only screen and (max-width:600px) {
      .chckbx span a {
        float: none;
        display: block;
        padding: 10px 0 0 0;
      }

      .navbar-collapse {
        text-align: center;
      }
    }


    /*Register User CSS*/


    body {
      font-family: 'Montserrat' !important;
    }


    .reg-container {
    /*   display: flex;
      justify-content: space-between;
      flex-wrap: wrap; */
      text-align: center;
      margin-top: 20px;
      overflow: hidden;
      min-height: calc(100vh - 114px);
      height: 100%;
      position: relative;
    }


    .reg-container h1 {
      color: #24537f;
    }


    .reg-container h3 {
      color: inherit !important;
    }


    .reg-border {
      border: 1px solid #E6E6E6;
      border-radius: 10px;
      padding: 20px;
      -webkit-box-shadow: 1px 1px 3px #F3F3F3;
              box-shadow: 1px 1px 3px #F3F3F3;
      width: 40vw;
      /* position: absolute;
      right: 30%; */
    }


    #reg-form1 {
      text-align: left !important;
    }


    #reg-form1 h1 {
      text-align: center !important;
    }


    #reg-form1 h3 {
      text-align: center !important;
    }


    .reg-form > div {
      margin-top: 30px;
    }


    .reg-form .chckbx {
      margin: 10px;
    }


    .reg-button {
      width: 100%;
      height: 50px;
      background-color: #d60000;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-top: -20px;
      -webkit-box-shadow: 1px 1px 2px #CCCCCC;
              box-shadow: 1px 1px 2px #CCCCCC;
      color: white;
      border: none !important;
    }


    .reg-button:hover {
      border: none;
      cursor: pointer;
    }


    .sign-in {
      background-color: #24537f !important;
      border: none;
    }


    .sign-in:hover {
      background-color: #1D4164 !important;
    }


    .sign-in:active {
      background-color: #173451 !important;
      -webkit-box-shadow: none;
              box-shadow: none;
    }


    .back {
      background-color: #fd8a66 !important;
      border: none;
    }


    .back:hover {
      background-color: #E77E5F !important;
    }


    .back:active {
      background-color: #C56C52 !important;
      -webkit-box-shadow: none;
              box-shadow: none;
    }


    .back3 {
      background-color: #F2C442 !important;
      border: none;
    }


    .back3:hover {
      background-color: #E1B63E !important;
    }


    .back3:active {
      background-color: #B69433 !important;
      -webkit-box-shadow: none;
              box-shadow: none;
    }


    .reg-button:active {
      -webkit-box-shadow: none;
              box-shadow: none;
    }


    .reg-active {
      opacity: 1;
      -webkit-animation: activeReg 0.6s;
              animation: activeReg 0.6s;
      transform: translateX(0px);
      -moz-transform: translateX(0px);
      -webkit-transform: translateX(0px);
      -o-transform: translateX(0px);
      -ms-transform: translateX(0px);
    }


    .reg-image {
      overflow: hidden;
      margin-top: 80px;
      position: absolute;
      left: 0;
    }


    .reg-image img {
      height: 450px;
      margin-top: -120px;
      margin-right: -520px;
    }


    .reg-image2 {
      overflow: hidden;
      margin-top: 80px;
      position: absolute;
      right: 0;
    }


    .reg-image2 img {
      height: 450px;
      margin-top: -50px;
      margin-left: -520px;
    }


    @media only screen and (max-width: 992px) {
      .reg-border {
        right: 50%;
      }
    }


    @media only screen and (max-width: 767px) {
      .reg-border {
        width: 80vw;
        right: 10%;
      }
    }


    #identification-form .reg-form div {
      margin-top: 0;
    }


    #sign-up2 {
      margin-top: 20px;
    }


    /* Dashboard */


    .member-container {
      background-color: #F5F5F5;
      min-height: 100vh;
    }


    .mem-box {
      border: 1px solid #CCCCCC;
      padding: 20px;
      margin: 40px;
      background-color: white;
    }


    .mem-box h3 {
      color: #24537f;
    }


    .mem-box h1 {
      color: #4C4C4C;
    }


    .mem-logo {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }


    .lower-mem-section {
      margin: 0 40px;
    }


    .mem-box-wide {
      border: 1px solid #CCCCCC;
      padding: 20px;
      background-color: white;
      font-size: 14px;
    }


    .mem-box-wide2 {
      padding: 20px;
      background-color: #fd8a66;
      color: white;
      font-weight: 600;
      font-size: 12px;
    }


    .mem-form {
      border: 1px solid #CCCCCC;
      padding: 20px;
      background-color: white;
    }


    .member-container h4 {
      margin-bottom: 7px;
    }


    .mem-form div {
      display: inline-block;
    }


    .mem-form input {
      background-color: white;
    }


    .mem-form h5 {
      margin-bottom: 5px;
    }


    .mem-button {
      height: 60px;
      width: 250px;
      border-radius: 30px;
      background-color: #fd8a66;
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin: 0 auto;
      -webkit-box-shadow: 1px 1px 1px #CCCCCC;
              box-shadow: 1px 1px 1px #CCCCCC;
    }


    .mem-reginr {
      width: 100%;
    }


    .mem-button:hover {
      cursor: pointer;
      background-color: #DB785A;
    }


    .mem-button:active {
      -webkit-box-shadow: none;
              box-shadow: none;
      background-color: #B9664D;
    }


    .mem-button h3 {
      color: white;
    }


    .mem-button h4 {
      color: white;
      margin: auto;
    }


    /* Password */


    .password-form {
      width: 60vw;
      max-width: 1000px;
      border-radius: 5px;
      background-color: white;
      margin: 30px auto;
      padding: 20px;
      -webkit-box-shadow: 1px 1px 3px 1px #CCCCCC;
              box-shadow: 1px 1px 3px 1px #CCCCCC;
      text-align: center;
    }


    /* Transactions */


    .member-container table {
      width: 80vw;
      max-width: 1400px;
      margin: 40px auto;
    }


    .member-container th {
      background-color: #24537f;
      color: white;
      padding: 5px;
    }


    .member-container td {
      padding: 5px;
    }


    .member-container tr {
      border: 1px solid #CCCCCC;
    }


    .status {
      border-radius: 3px;
      height: 30px;
      width: 100px;
      margin: 0 auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      color: white;
      font-weight: 600;
    }


    .pending {
      background-color: #fbc943;
    }


    .accepted {
      background-color: #d60000;
    }


    .rejected {
      background-color: #fd8a66;
    }


    /* Style the buttons that are used to open and close the accordion panel */


    .accordion {
      background-color: #24537f;
      color: white;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      text-align: left;
      border: none;
      outline: none;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      font-family: 'Montserrat', 'Arial';
    }


    /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */


    .active,.accordion:hover {
      background-color: #317AC5;
    }


    /* Style the accordion panel. Note: hidden by default */


    .panel {
      padding: 0 18px;
      background-color: white;
      max-height: 0;
      overflow: hidden;
      -webkit-transition: max-height 0.2s ease-out;
      transition: max-height 0.2s ease-out;
      font-family: 'Montserrat', 'Arial';
      display: none;
    }


    .accordion:after {
      content: '\F067';
      /* Unicode character for "plus" sign (+) */
      font-family: FontAwesome;
      font-size: 13px;
      color: white;
      float: right;
      margin-left: 5px;
    }


    .active:after {
      content: "\F068";
      /* Unicode character for "minus" sign (-) */
    }


    .panel ul {
      list-style-type: none;
    }


    .panel li {
      border-bottom: 1px solid #CCCCCC;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding-top: 5px;
    }


    .panel li div {
      margin: 5px;
    }


    /* Media Queries */


    @media only screen and (max-width: 767px) {
      .member-container {
        margin-top: -33px;
      }

      .mem-box {
        margin: 20px auto;
        width: 90vw;
      }

      .lower-mem-section {
        margin: 0 auto;
        width: 90vw;
      }

      .password-form {
        width: 90vw;
      }
    }


    .checkmark {
        position: absolute;
        top: 2px;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
    }


    .checkcontainer  {
        width: 100%;
        position: relative;
        padding-left: 57px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 14px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        display: block;
        font-weight: normal;
        color: #000;
    }


    .checkcontainer label {
      font-weight: normal;
      font-size: 12px;
    }


    .checkcontainer input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }


    .checkcontainer input:checked ~ .checkmark {
        background-color: #2abded;
    }


    .checkcontainer input:checked ~ .checkmark:after {
        display: block;
    }


    .checkcontainer .checkmark:after {
        left: 10px;
        top: 6px;
        width: 7px;
        height: 12px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }


    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }


    .bx-wrapper-full {
      top: 36%;
      z-index: 5;
      -webkit-box-shadow: none;
              box-shadow: none;
      background: transparent;
      border: none;
      position: relative;
      height: 20%;
    }


    .bx-wrapper-full .bx-viewport {
      height: 100% !important;
    }


    .bx-wrapper-full .bx-viewport .slider {
      height: 100% !important;
    }


    .new-yellowbox {
      background-color: #feca40;
      border: 3px solid #24537f;
      border-radius: 6px;
      height: 100%;
      width: 18vw !important;
      margin: 0 1vw;
      z-index: 4;
      text-align: center;
    }


    .new-yellowbox > div {
        font-size: 3.8vw;
        line-height: 3.8vw;
        width: 100%;
        margin-top: 4%;
        font-weight: bold;
        color: #24537f;
    }


    /* @media (max-width: 575.98px) {
      .new-yellowbox > div {
        font-size: 50px;
        line-height: normal;
      }
    }


    @media (max-width: 767.98px) {
      .new-yellowbox > div {
        font-size: 30px;
      }
    }


    @media (max-width: 991.98px) {
      .new-yellowbox > div {
        font-size: 30px;
      }
    }


    @media (max-width: 1199.98px) {
      .new-yellowbox > div {
        font-size: 30px;
        line-height: normal;
      }
    } */


    .bx-wrapper-small {
        z-index: 10000;
        position: relative;
    }


    .new-yellowbox h2 {
      color: #24537f;
    }


    .sc {
      color: #feca40;
      height: 8vw;
      width: 5vw;
      line-height: 2.2vw;
      z-index: 5;
      text-align: center;
      font-size: 2vw;
      font-family: ok;
    }


    .sc > div {
      margin-top: 14%;
    }


    .scBottom {
      color: #feca40;
      width: 5vw;
      height: 3vw;
      z-index: 4;
      text-align: center;
      font-size: 2vw;
      font-family: ok;
      line-height: 2.2vw;
    }


    .scBottom > div {
      width: 100%;
      margin-top: 1%;
    }


    .sliderWindowBottom {
      /*top: 43%;*/
    }


    .bx-wrapper-bottom {
        position: absolute;
        z-index: 1000;
        top: 70%;
        left: 0;
        right: 0;
    }


    .bx-wrapper-bottom .bx-viewport {
      height: auto !important;
    }


    .nrp {
      padding-right: 0;
    }


    .nlp {
      padding-left: 0;
    }


    @media (max-width: 575.98px) {
      .padding-right-mobile {
        padding-right: 15px;
      }
      .padding-left-mobile {
        padding-left: 15px;
      }
    }


    @media (max-width: 767px) {
      .scBottom {
        font-size: 5vw;
        height: 9vw;
      } .scBottom > div {
        margin-top: 6%;
      } .sc {
        line-height: 6vw;
        height: 23vw;
        font-size: 7vw !important;
      } .new-yellowbox {
        width: 54vw !important;
        height: 100% !important;
      } .new-yellowbox > div {
        font-size: 10vw;
        line-height: 10vw;
      }
    }


    .milestone-gear {
      pointer-events: none;
      -o-user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
      left: 0;
      right: 0;
      margin: auto;
      top: 73%;
      position: absolute;
      width: 30%;
      z-index: 6;
    }


    .brand-color-bg {
      background: linear-gradient(90deg, #f84646, #fb9f51);
      color: #FFF;
    }


    .brand-color-txt {
      color: #D60000 !important;
    }


    .timeline-row .timeline-section{
      border-left: thin solid #d60000;
    }


    .timeline-row .timeline-section:first-child {
      border-left: none;
    }


    .timeline-row .timeline-section-top {
      /* border-bottom: 7px solid #FFF; */
    }


    .timeline-row .timeline-section-bottom {
      color: #d60000 !important;
      font-weight: bold;
    }


    .timeline-row .timeline-section-top,
    .timeline-row .timeline-section-bottom {
      padding: 10px 20px 15px !important;
    }
    .timeline-row .timeline-section-bottom{
      padding-top: 15px !important;
    }

    .timeline-row .timeline-section-middle{
      padding-left: 20px;
    }

    .white-bg {
      background-color: #FFF;
    }


    .white-bg.white-bg-shadow {
      -webkit-box-shadow: 0px 1px 50px rgba(57, 133, 183, 0.15);
              box-shadow: 0px 1px 50px rgba(57, 133, 183, 0.15);
    }


    .slidecontainer {
        width: 100%; /* Width of the outside container */
    }


    /* The slider itself */


    .rslider {
        -webkit-appearance: none;
        width: 100%;
        height: 15px;
        border-radius: 20px;
        background: #d3d3d3;
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        -webkit-transition: opacity .2s;
        transition: opacity .2s;
    }


    /* Mouse-over effects */


    .rslider:hover {
        opacity: 1; /* Fully shown on mouse-over */
    }


    /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */


    .rslider::-webkit-slider-thumb {
        -webkit-appearance: none; /* Override default look */
        appearance: none;
        width: 25px; /* Set a specific slider handle width */
        height: 25px; /* Slider handle height */
        background: #d60000 !important; /* Green background */
        cursor: pointer; /* Cursor on hover */
        border-radius: 50%;
    }


    .rslider::-moz-range-thumb {
        width: 25px; /* Set a specific slider handle width */
        height: 25px; /* Slider handle height */
        background: #d60000 !important; /* Green background */
        cursor: pointer; /* Cursor on hover */
        border-radius: 50%;
    }


    .table-row {
      display: table;
    }


    .table-row .col {
      display: table-cell;
      float: none;
    }


    .truncate-250 {
      width: 250px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }


    .truncate-150 {
      width: 150px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .dashboardwave{
        position: absolute;
        bottom: 0;
        display: block;
        height: 250px;
        width: 100%;
      }
      .dashboardwave svg{
        width: 100%;
          left: 0;
          bottom: 0;
          height: 100%;
          position: absolute;

          -webkit-transform: rotatex(180deg);
          -moz-transform: rotatex(180deg);
          -ms-transform: rotatex(180deg);
          transform: rotatex(180deg);
      }
      .btn-primary{
          position: relative;
          top: -8px;
      }
      .message-disp{
        text-align: center;
        max-width: 520px;
        margin: 0 auto;
        border: 1px solid #E6E6E6;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 1px 1px 3px #F3F3F3;
        -webkit-animation: seconds 1.0s forwards;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-delay: 5s;
        animation: seconds 1.0s forwards;
        animation-iteration-count: 1;
        animation-delay: 5s;
          
      }
      .message-disp img{
        margin-right: 10px;
      }

      @-webkit-keyframes seconds {
        0% {
          opacity: 1;
        }
        100% {
          opacity: 0;
          left: -9999px; 
        }
      }
      @keyframes seconds {
        0% {
          opacity: 1;
        }
        100% {
          opacity: 0;
          left: -9999px; 
        }
      }
      .form-control.style1.wallet-address{
        font-size: 14.5px;
      }
      .registration .actions button{
        min-width: 158px;
      }

      @media (max-width: 991px) {
        .registration .col-md-7.pull-left{
          float: none !important;
        }
        .registration .col-md-5.pull-right{
          float: none !important;
          margin-bottom: 50px;
        }
        .registration .img-responsive{
          margin-top: 0px !important;
        }
        .text-white .container-fluid{
          margin-bottom: 160px !important;
        }
        
      }
      @media (max-width: 479px) {
        .registration .actions a{
          float: none !important;
          display: block;
        }
        .registration .actions button{
          top: 0;
          float: left !important;
          width: 100%;
          margin-bottom: 10px;
          margin-left: 0px !important;
        }
        .reg-active a{
          float: none !important;
          display: block;
          text-align: center;
        }
        .text-white .container-fluid h4{
          font-size: 16px !important;
        }
        .afterbanner .col-xs-6{
          padding: 0px 5px;
        }
        .dash-logo:nth-child(2n){
          display: none;
        }
        .main-nav li:last-child .dropdown{
          left: 0px !important;
        }
        .main-nav li:last-child .dropdown > a{
          padding-left: 0;
          padding-right: 0;
        }
      }

